<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'pcsub:modifyBoard' board.id%}" method="post">
    {% csrf_token %}
    <textarea name="title" id="title"  rows="15">{{ board.title }}</textarea>
    <div>작성자 : </div><div>{{ board.author.username }}</div>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div>내용 : </div><textarea name="context" id="context" rows="15">{{ board.context }} </textarea>
    <div>날짜 : </div><div name="pub_date" id="pub_date" rows="15">{{ board.pub_date }} </div>
    {% if request.user == board.author %}
    <input type="submit" value="저장" />
    {% endif %}
</form>
</body>
</html>