<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    {% if board_list %}
    <div>
        {% for board in board_list %}
        <div id="boardTitle{{ board.id }}"><a href="{% url 'pcsub:detail' board.id %}">{{ board.title }}</a></div>
        <div id="boardcontext{{ board.id }}">{{ board.context }}</div>
        {% endfor %}
    </div>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}

    <div><a href="{% url 'pcsub:write' %}">글작성</a></div>
</div>
</body>
</html>